
* { 
	margin: 0; 
	padding: 0; 
}
html {
  font-size: 100%;
  line-height: 19px;
}
body { 
	font-family:14px verdana,Geneva, sans-serif;
	font-size: 1rem;
    line-height: 1.1rem; 
	overflow-x:hidden;
}
.wrapper {
    max-width: 1200px;
    padding:0 1.5em;
    margin: 0 auto;
 }

#nature {
	margin: 1em 0 1em 0;
	text-align: center;
	text-shadow: -3px 4px 2px  #000;
	font-weight: bold;
	font: 3em sans-serif;
	color: #168AAD;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
html{
    scroll-behavior: smooth;
    color: #EDF7FC;
	height: 100%;
}
nav{
    background-color: #168AAD;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #EDF7FC;
    width:100%;
    height:70px;
    position: relative;
}
.logo{
    display:flex;
    align-items: center;
}
nav img{
    width:40px;
    padding-top:5px ;
    filter:brightness(500%);
}
nav h1{
    color: #EDF7FC;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    cursor:pointer;
}
nav .logo:hover{
    animation : bounce 1s  ;
}

nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
}
nav .onglets a{
    text-decoration: none;
    color: #EDF7FC;
    margin-right: 10px;
    border-bottom: 1px solid #168AAD;
    padding-bottom: 5px;
    font-family: 'Otomanopee One', sans-serif;

}
nav .onglets a:hover{
    color:#0c4050;
}
.programmes:hover .sousMenu{
    display:block;
    position:absolute;
    top:76%;
    left:65%;
    z-index: 1;
    background: #168AAD;
    color:#fff;
}
.sousMenu{
    display:none;

}
.sousMenu:hover{
    display:block;
}
.sousMenu li{
    margin:20px;
}
.sousMenu li:hover{
    color:#0c4050;
}

footer{
    

    background-color: #168AAD;
    color: #EDF7FC;
    
    height:400px;
    font-family:sans-serif ;
    position:relative;
    display:flex;
    justify-content: space-around;
}
footer h1{
    font-family: 'Playfair Display', serif;
    
    width: 20%;
    padding-bottom: 5px;
}

.copyright{
    position:absolute;
    bottom:10%;
    display:block;
    width:100%;
    text-align: center;
}

footer img{
    width:100px;
    filter: brightness(500%);
    padding-top:5px;
    
}
.footerLogo{
    display:flex;
    font-size:4rem;
    align-items: center;
    justify-content: center;
    height:100%
}
.block1, .block2, .block3 {
    width:33%;
}
.block2{
    display:flex;
    color:#fff;
    align-items: center;
    justify-content: center;
}
.block2 ul li a{
    color:white;
    text-decoration: none;
    font-size:1rem;
    
}
.block2 ul li{
    margin-bottom: 30px;
}
.block2 ul li a:hover{
    color:#0c4050;
}

.block3{
    display:flex;
    color:#fff;
    align-items: center;
    justify-content: center;
}
.block3 ul li{
    color:white;
    text-decoration: none;
    font-size:1rem;
    
}
.block3 ul li{
    margin-bottom: 30px;
}
.block3 ul li a:hover{
    color:#0c4050;
}

@keyframes bounce {
    0% { transform: scale(1) translateY(0); }
    10% { transform: scale(1.2, 0.6); }
    30% { transform: scale(0.8, 1.1) translateY(-5px); }
    50% { transform: scale(1) translateY(0); }
    100% { transform: translateY(0); }
}
.tab-cel{
	display: table-cell;
}
.inl-bl {
	display: inline-block;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
#contenu {
border-right:0.1em solid #000;
}
.flex-container, .s-flex-container {
        display: flex;
        flex-flow: column wrap;
    }
    .s-col-1 {
	max-width: calc((100% / 12) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
	.s-col-2 {
	max-width: calc(((100% / 12) * 2) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
	.s-col-3 {
	max-width: calc(((100% / 12) * 3) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
	.s-col-4 {
	max-width: calc(((100% / 12) * 4) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
	.s-col-5 {
	max-width: calc(((100% / 12) * 5) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
	.s-col-6 {
	max-width: calc(((100% / 12) * 6) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
	.s-col-7 {
	max-width: calc(((100% / 12) * 7) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
		.s-col-8 {
	max-width: calc(((100% / 12) * 8) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
		.s-col-9 {
	max-width: calc(((100% / 12) * 9) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
		.s-col-10 {
	max-width: calc(((100% / 12) * 10) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
		.s-col-11 {
	max-width: calc(((100% / 12) * 11) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
		.s-col-12 {
	max-width: calc(((100% / 12) * 12) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}

.edito {
background:url(img/bandeau-01.jpg) no-repeat 0% 50%;
background-size: 100%;
min-height: 15vh;
}
.fond-tran {
	background: hsla(354,77%,887%,0.5);
	display: inline-block;
	padding:0 .5em;
}
.edito-body .date {
	color:#555;
}
.edito-body {
	padding:.3em 1em;
	color: #d33;
	}
.article {
 	align-items: flex-start;
 	box-shadow: -1px 3px 5px 0px rgba(130,120,130,1);
 	margin-bottom:2.375rem;
 	border-top:none;
}
.article > :not(figure) {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.article-figure {
min-width:120px;
margin-left:auto;
margin-right: auto;
}
.article-button{
background-color:#ddd;
border-radius:0.1em;
box-shadow:0.1em 0.1em 0.1em;
color:red;
padding:.5em 1em;
text-decoration:none;
margin-bottom: 1.1875rem;
}

.article-button:hover {
background-color:red;
color:#ddd;
}
#slider {
	overflow: hidden;
}
#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 10s slider infinite;

}
#slider figure img{
	width: 20%;
	height: 780px;
	float: left;
}

@keyframes slider{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25% {
		left: -100% ;
	}
	45% {
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200;
	}
	75% {
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400;
	}
}

	.specialites img {
	box-shadow:0 0 0 #222;
	
	}
	.agenda {
	margin-left: 5px;
    padding-bottom: 1.1875rem;
	}

	.agenda img {
	display:inline-block;
	}
	.agenda a:hover {
	color: #168AAD;
	font-family: Arial, Helvetica, sans-serif;
}

	.agenda figure img {
	position:relative;
	transition: all 2s ease-out;
	}

	.agenda figcaption {
	background-color:rgba(0%,0%,0%,0.8);
	box-sizing:border-box;
	color:#000;
	display:none;
	padding:1rem;
	justify-content: center;
	margin-left:15px;
	top:0;
	bottom:0;
	right: 0;
	font-size: 1.5vw;
	line-height: 2vw;
	border-bottom:0.1em dotted #d00;
	padding-left:1.75em;
	}

	.agenda figure:hover img{
	transform: rotate(360deg) scale(3);
	border: 1px solid white;
	background-color: #ededed;
	padding: 5em;
	transition: all 5s ease-out;
	}
   
   .agenda h2 {
    border-left:1em solid;
    color:red;
    padding:calc(1.1875rem / 2); 
    margin:calc(1.1875rem / 2); 
}




	.flex-container {
        flex-flow: row wrap;
    }
    .m-self-center {
		align-self: center;
	}
	.m-self-end {
		align-self: flex-end;
	}
	.m-self-start {
		align-self: flex-start;
	}
    .m-col-1 {
	max-width: calc((100% / 12) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
	.m-col-2 {
	max-width: calc(((100% / 12) * 2) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
	.m-col-3 {
	max-width: calc(((100% / 12) * 3) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
	.m-col-4 {
	max-width: calc(((100% / 12) * 4) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
	.m-col-5 {
	max-width: calc(((100% / 12) * 5) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
	.m-col-6 {
	max-width: calc(((100% / 12) * 6) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
	.m-col-7 {
	max-width: calc(((100% / 12) * 7) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
		.m-col-8 {
	max-width: calc(((100% / 12) * 8) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
		.m-col-9 {
	max-width: calc(((100% / 12) * 9) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
		.s-col-10 {
	max-width: calc(((100% / 12) * 10) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
		.m-col-11 {
	max-width: calc(((100% / 12) * 11) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}
		.m-col-12 {
	max-width: calc(((100% / 12) * 12) - 1%);
    margin-left: 0.5%;
    margin-right: 0.5%;
	}

h2, h5{
	color: #168AAD;
	font-family: Arial, Helvetica, sans-serif;
}
 

p, article  {
  margin-top: 0rem;
  margin-bottom: 1.1875rem;
  font: 1em serif;
}
img {
max-width:100%;
display:inline-block;
}
 .clearfix:after {
        width: 100%;
        content: ".";
        display: block;
        clear: both;
        height: 0
 }
nav{
    background-color: #168AAD;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #EDF7FC;
	height: 70px;
}
nav h1{
    color: #EDF7FC;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
}
nav .onglets a{
    text-decoration: none;
    color: #EDF7FC;
    margin-right: 10px;
    border-bottom: 1px solid #168AAD;
    padding-bottom: 5px;
}

footer{
    margin-top: 40px;
    border-top: 5px solid #EDF7FC;
    background-color: #168AAD;
    color: #EDF7FC;
    padding: 30px 100px;;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -7px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181);
}