html {
	color: #EDF7FC;
	font-family: 'Helvetica', sans-serif;
	height: 100%;
	letter-spacing: 1px;
}

body {
	color: #EDF7FC;
	margin: 0;
	overflow: hidden;
}

h2 {
	font-family: 'Dosis', sans-serif;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

h4 {
	font-family: 'Arial', sans-serif;
	font-weight: lighter;
	font-size: 12px;
}

.formation-block {
	background-color: none;
	position: fixed;
	right: 5%;
	top: 10%;
}

.card {
	background-color: #ebf5ee4f;
	border-radius: 15px;
	color: #76C893;
	margin: 5px;
	opacity: 0.8;
	padding: 10px;
	width: 500px;
}

.card h3, .card p {
	margin: 0;
}

.card p {
	color: #a3dbb7;
	font-size: 12px;
}

.main-block {
	background-color: #168AAD;
	box-sizing: border-box;
	color: #cbdadf;
	bottom: 50px;
	letter-spacing: 2px;
	padding: 20px 100px;
	position: fixed;
	width: 100%;
}

.main-block h2 {
	color: white;
}

.main-block h4 {
	letter-spacing: 3px;
}

.arrow-block {
	align-items: center;
	background-color: white;
	bottom: 0;
	color: #168AAD;
	height: 50px;
	letter-spacing: 8px;
	position: fixed;
	text-align: center;
	width: 100%;
}

video {
  width: 100%;
  height: 80%;
}
