*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 15px;
    padding: 0;
    background-color: white;
    display: grid;
    grid-template-rows: 10% 45% 45%;
    grid-template-areas: 
        "a1"
        "a2";
}

h1{
    font-family: 'Otomanopee One', sans-serif;
    justify-self: center;
}

h3{
    font-family: 'Otomanopee One', sans-serif;
    width: 100%;
    background-color: white;
}

h4{
    font-family: 'Otomanopee One', sans-serif;
    margin: 1px;
}

.titre0{
    grid-area: a1;
    justify-self: center;
}

.display{
    grid-area: a2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "a a"
        "c d"
    ;
}

.c1{
    grid-area: a;
    background-color: #EDF7FC;
}

.titre1{
    grid-area: aa;
    padding-left: 10px;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "aa aa"
        "ba bb"
        "cc cc";
}

form input{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px;
    border-style: groove;
    border-radius: 5px;
}

form textarea{
    padding: 5px;
    border: 2px;
    border-style: groove;
    border-radius: 5px;
}

.cont1{
    grid-area: ba;
    justify-self: center;
}

.cont2{
    grid-area: bb;
    justify-self: center;
}

.cont3{
    grid-area: cc;
    justify-self: center;
    padding-bottom: 5px;
}

.cont3 button{
    font-family: 'Otomanopee One', sans-serif;
    background-color: #D9ED92;
    border-radius: 5px;
    border: 1px groove #168AAD;
    font-size: 15px;
}

button:hover {
    background-color: #76C893;
}

.c3{
    grid-area: c;
    background-color: #76C893;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
        "aaaa aaaa"
        "bbbb bbbb";
}

.titre2{
    grid-area: aaaa;
    padding-left: 10px;
}

.c4{
    grid-area: d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "aaa aaa"
        "caa cbb";
    background-color: #168AAD;
}

.titre3{
    padding-left: 10px;
    grid-area: aaa;
}

.coord1{
    padding: 5px;
    grid-area: caa;
}

.coord2{
    padding: 5px;
    grid-area: cbb;
}


nav{
    background-color: #168AAD;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:70px;
    position: relative;
}
.logo{
    display:flex;
    align-items: center;
}
nav img{
    width:40px;
    padding-top:5px ;
    filter:brightness(500%);
}
nav h1{
    color: #EDF7FC;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    cursor:pointer;
}
nav .logo:hover{
    animation : bounce 1s  ;
}

nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
}
nav .onglets a{
    text-decoration: none;
    color: #EDF7FC;
    margin-right: 10px;
    border-bottom: 1px solid #168AAD;
    padding-bottom: 5px;
    font-family: 'Otomanopee One', sans-serif;
    
}
nav .onglets a:hover{
    color:#0c4050;
}
.sousMenu{
    display:none;
}
.programmes:hover .sousMenu {
    display:block;
    position:absolute;
    top:76%;
    left:65%;
    z-index: 1;
    background: #168AAD;
    color:#fff;
}

.sousMenu:hover{
    display:block;
}
.sousMenu li{
    margin:20px;
}
.sousMenu li:hover{
    color:#0c4050;
}


footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181);
}

@keyframes bounce {
    0% { transform: scale(1) translateY(0); }
    10% { transform: scale(1.2, 0.6); }
    30% { transform: scale(0.8, 1.1) translateY(-5px); }
    50% { transform: scale(1) translateY(0); }
    100% { transform: translateY(0); }
}

footer{
    

    background-color: #168AAD;
    color: #EDF7FC;
    
    height:400px;
    font-family:sans-serif ;
    position:relative;
    display:flex;
    justify-content: space-around;
}
footer h1{
    font-family: 'Playfair Display', serif;
    
    width: 20%;
    padding-bottom: 5px;
}

.copyright{
    position:absolute;
    bottom:10%;
    display:block;
    width:100%;
    text-align: center;
}

footer img{
    width:100px;
    filter: brightness(500%);
    padding-top:5px;
    
}
.lien1, .lien2{
    cursor: pointer;
}
.footerLogo{
    display:flex;
    font-size:4rem;
    align-items: center;
    justify-content: center;
    height:100%
}
.block1, .block2, .block3 {
    width:33%;
}
.block2{
    display:flex;
    color:#fff;
    align-items: center;
    justify-content: center;
}
.block2 ul li a{
    color:white;
    text-decoration: none;
    font-size:1rem;
    
}
.block2 ul li{
    margin-bottom: 30px;
}
.block2 ul li a:hover{
    color:#0c4050;
}




.block3{
    display:flex;
    color:#fff;
    align-items: center;
    justify-content: center;
}
.block3 ul li{
    color:white;
    text-decoration: none;
    font-size:1rem;
    
}
.block3 ul li{
    margin-bottom: 30px;
}
.block3 ul li a:hover{
    color:#0c4050;
}
